<dp-date-picker id="monthPicker"
                name="monthPicker"
                #dateComponent
                #monthPicker="ngModel"
                [(ngModel)]="date"
                (onChange)="log($event)"
                [mode]="'year'"
                [displayDate]="displayDate"
                (open)="opened()"
                (close)="closed()"
                [disabled]="disabled"
                [minDate]="validationMinDate"
                [maxDate]="validationMaxDate"
                [required]="required"
                [placeholder]="placeholder"
                [config]="config"
                [theme]="material ? 'dp-material dp-main' : 'dp-main'"
                (onSelect)="onSelect($event)"
                (onLeftNav)="onLeftNav($event)"
                (onRightNav)="onRightNav($event)">
</dp-date-picker>
