<div class="dp-year-calendar-container">
  <dp-calendar-nav
      [label]="navLabel"
      [showLeftNav]="showLeftNav"
      [showRightNav]="showRightNav"
      [isLabelClickable]="componentConfig.isNavHeaderBtnClickable"
      [showGoToCurrent]="shouldShowCurrent()"
      [theme]="theme"
      (onLeftNav)="onLeftNavClick()"
      (onRightNav)="onRightNavClick()"
      (onLabelClick)="toggleCalendarMode()"
      (onGoToCurrent)="goToCurrent()">
  </dp-calendar-nav>

  <div class="dp-calendar-wrapper">
    <div class="dp-years-row" *ngFor="let yearRow of yearYears">
      <button type="button"
              class="dp-calendar-year"
              *ngFor="let year of yearRow"
              [attr.data-date]="year.date.format(componentConfig.format)"
              [disabled]="year.disabled"
              [ngClass]="getYearBtnCssClass(year)"
              (click)="yearClicked(year)"
              [innerText]="year.text">
      </button>
    </div>
  </div>
</div>
